.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../../icons/bg-todo.jpg");
    background-size: cover;
    background-position: 15%;
    background-repeat: no-repeat;
    padding-top: 170px;
}

.heading {
    background-color: transparent;
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 15px;
    border: 1px dashed white;
    width: 65%;
    padding: 20px;
    margin: auto;
}

.heading h1 {
    color: white;
    font-size: 70px;
    margin-top: 30px;
}

.heading h4 {
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

.heading a button {
    height: 50px;
    width: 20vw;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1.5px dashed black;

}

.heading a {
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.heading a button:hover {
    background-color: #212529;
    transition: 0.4s;
    color: white;
    border: 1.5px dashed white;
}

.down_desription {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100vw;
    background-color: #212529;
}

.down_desription a {
    color: white;
    text-decoration: none;
}

.down_desription a:hover {
    transition: 0.7s;
    color: #ffbf00;
}