body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.row {
    width: 100vw;
    margin: 0 0 0 0;
    background-color: transparent;
    
}

.container {
    width: 100%;
}
.section-white {
    width: 100vw;
    height: 100vh;
    background-image: url("../../icons/bg-about2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* background-attachment: fixed; */
    padding: 0 0 0 0;
}

.team-item {
    /* background-color: transparent; */
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    text-align: center;
    margin: 10px 0;
    padding: 40px 20px 40px 20px;
    border-radius: 8px;
    width: 35%;
    border: 2px dashed #ffffff;
    min-width: 250px;
    max-height: 415px;
}

.text-center {
    height: 70px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 60px;
}

.team-item h3 {
    margin: 20px 0 1px 0 !important;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title {
    margin-top: 35px;
    font-weight: 600;
    color: #ffffff;
    font-size: 50px;
}

.section-subtitle {
    white-space: pre-line;
}

.team-info {
    display: block;
    margin-bottom: 0;
    justify-content: center;
}

.team-info p {
    color: #ffffff;
    /* font-style: italic; */
    font-weight: 500;
}

.team-img {
    width: 140px;
    height: 140px;
    padding: 6px;
    background-color: #212529;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.team-icon {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
    width: 100%;
    padding: 0;
}

.team-icon img {
    width: 33px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(349deg) brightness(107%) contrast(101%);
}

.instagram img:hover {
    filter: brightness(0) saturate(100%) invert(26%) sepia(50%) saturate(4358%) hue-rotate(328deg) brightness(95%) contrast(112%);
    transition: 0.2s;
}

.discord img {
    width: 35px;
    height: auto;
}

.discord img:hover {
    filter: brightness(0) saturate(100%) invert(9%) sepia(96%) saturate(4702%) hue-rotate(279deg) brightness(97%) contrast(111%);
    transition: 0.2s;
}

.github img:hover {
    filter: brightness(0) saturate(100%) invert(19%) sepia(36%) saturate(2138%) hue-rotate(205deg) brightness(91%) contrast(100%);
    transition: 0.2s;
}
.members {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 130px;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
}